<section class="where-i-work" [id]="sectionsEnum.WHERE_I_WORK">
  <div class="container">
    <h3>Onde Trabalho</h3>
    <div class="where-i-work__container">
      <p class="where-i-work__container__address">R. Antuerpia, 127 - Utinga, Santo André - SP, 09230-120.</p>
      <iframe class="where-i-work__container__maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.593681771215!2d-46.53459809999999!3d-23.618900800000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5d48120980bf%3A0x40bbce414e9628d0!2sR.%20Antuerpia%2C%20127%20-%20Utinga%2C%20Santo%20Andr%C3%A9%20-%20SP%2C%2009230-120!5e0!3m2!1spt-BR!2sbr!4v1703481419666!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <mat-divider></mat-divider>
      <p class="where-i-work__container__time"><strong>Agende</strong> um hórario via Whatsapp.</p>
      <div class="where-i-work__container__whatsapp">
        <massoterapeuta-elisabete-button-link
          image="../../../../../assets/images/whatsapp.svg"
          url="https://api.whatsapp.com/send/?phone=5511963458050&text&type=phone_number&app_absent=0"
          type="whatsapp"
          label="Whatsapp">
        </massoterapeuta-elisabete-button-link>
      </div>
    </div>
  </div>
</section>
