.section-me {
  color: var(--dark-brown);
  padding: 2rem 0rem 4rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text-info {
    padding: 0px 1rem;
  }

  &__text-social-networks {
    margin: 1.5rem 0rem 1rem;
    padding: 0px 1rem;
  }
}


.section-benefits {
  color: var(--dark-brown);
  padding: 0rem 0rem 4rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text-info {
    padding: 0px 1rem;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0rem 1.5rem;
    width: 100%;

    app-card-info:nth-child(even) {
      grid-auto-flow: dense;
      direction: rtl;
    }

    app-card-info:nth-child(odd) {
      background-color:#ffffff80;
    }

  }
}

.section-local {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  text-align: center;
  color: var(--dark-brown);

  &__title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  &__description {
    padding: 0rem 1rem 1rem;
  }

  &__maps {
    border: 0;
    width: 100%;
    height: 300px;
  }
}

.section-scheduling {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 8rem;
  text-align: center;
  color: var(--dark-brown);

  &__title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  &__scheduling-info {
    margin-top: 1.5rem;
  }

  &__scheduling-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .section-benefits {
    padding: 2rem 5rem 4rem;

    &__text-info {
      padding: 0px;
    }

    .cards-container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      app-card-info:nth-child(even) {
        background-color:#ffffff80;
        grid-auto-flow: inherit;
        direction: ltr;
      }
    }
  }

  .section-local {
    padding: 0rem 6rem 4rem;

    &__maps {
      border: 0;
      width: 100%;
      height: 300px;
    }
  }
}
