<section>
    <div class="section-benefits">
      <h1 class="title section-benefits__title">Benefícios da Massagem</h1>
      <p class="section-benefits__text-info">
        As pessoas que não conhecem muito bem os benefícios da massagem associam a prática somente para o relaxamento como objetivo,
        porém, a massagem é capaz de proporcionar diversos outros benefícios físicos e emocionais, dos quais podemos destacar:
      </p>
      <div class="cards-container">
        <app-card-info
          title="Reduz a Ansiedade"
          imageUrl="../../../assets/images/card/ansiedade.svg"
          colorName="blue"
          description="Reduz a ansiedade, combate a depressão e combate o estresse.">
        </app-card-info>
        <app-card-info
          title="Estimula a Circulação"
          imageUrl="../../../assets/images/card/veias.svg"
          colorName="red"
          description="Estimula a circulação sanguínea e linfática e reduz a tensão e dor muscular.">
        </app-card-info>
        <app-card-info
          title="Elimina Toxinas"
          imageUrl="../../../assets/images/card/toxinas.svg"
          colorName="purple"
          description="Elimina toxinas e resíduos metabólicos.">
        </app-card-info>
      </div>
      <p class="section-benefits__text-info">
        Como vimos, os benefícios da massagem vão muito além do relaxamento
        e esta é uma prática já comprovada cientificamente para prevenção de doenças e promoção da saúde.
      </p>
      <hr>
    </div>
</section>

<section>
  <div class="section-price">
    <h1 class="title section-price__title">Preços</h1>
    <div class="cards-price-container">
      <app-card-price
        title="Unitária"
        price="85"
        description="1 Sessão de massagem."
        colorName="pink">
      </app-card-price>
      <app-card-price
        title="Pacote"
        price="280"
        description='
          4 Sessões de massagem.
          <br><br>
          <span class="purple">14% de Desconto</span> em relação a Unitária.'
        colorName="purple">
      </app-card-price>
    </div>
  </div>
</section>
