@use '@angular/material' as mat;
@use '../../../../assets/scss/theme.scss' as theme;

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 2rem;
  text-decoration-line: none;
  border-radius: 5px;
  text-transform: uppercase;

  img {
    width: 1.75rem;
  }

  &--instagram {
    background-color: mat.get-theme-color(theme.$massoterapeuta-elisabete-theme, primary);
    color: white;

    &:hover {
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }
  }

  &--whatsapp {
    background-color: mat.get-theme-color(theme.$massoterapeuta-elisabete-theme, primary);
    color: white;

    &:hover {
      background: #25D366;
    }
  }

  &:active {
    opacity: 0.8;
  }
}
