<section class="who-am-i" [id]="sectionsEnum.WHO_AM_I">
  <div class="container">
    <h3>Quem Sou</h3>
    <div class="who-am-i__container">
      <div class="who-am-i__container__info">
        <p>
          Olá, meu nome é Elisabete Cristina, sou <strong>especialista</strong> no tratamento de <strong>dores musculares</strong>, <strong>fibromialgia</strong> e <strong>ansiedade</strong>.
          <br>
          Irei proporcionar uma melhor qualidade de vida sem uso de medicamentos, promovendo bem-estar, saúde física e mental.
        </p>
        <br>
        <br>
        <p>Me acompanhe nas redes sociais!</p>
        <div class="who-am-i__container__info__instagram">
          <massoterapeuta-elisabete-button-link
            image="../../../assets/images/instagram.svg"
            url="https://www.instagram.com/massoterapeuta.elisabete"
            type="instagram"
            label="Instagram">
          </massoterapeuta-elisabete-button-link>
        </div>
      </div>
      <div class="who-am-i__container__image">
        <img src="../../../../../assets/images/elisabete-cristina.jpeg" alt="Elisabete Cristina">
      </div>
    </div>
  </div>
</section>

