.card {
  width: 250px;
  background-color:#ffffff80;


  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 1rem 1rem 0.5rem;
  }

  hr {
    border: 1px solid var(--light-brandy);;
  }

  &__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.25rem 0px;
  }

  &__description {
    padding: 0rem 2rem 0.5rem;
  }

  &__container-button {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem 2rem;

    &__button {
      text-decoration: none;
      font-weight: 600;
      text-align: center;
      font-size: 1.2rem;
      padding: 1rem;
      width: 100%;
      border-radius: 1rem;
    }
  }

}

$pink: #FFA7B6;
$purple: #993299;

.pink {
  color: $pink;
}

.pink-border {
  border: 2px solid $pink;

  &:hover {
    background-color: $pink;
    color: white;
    cursor: pointer;
  }
}

.purple {
  color: $purple;
}

.purple-border {
  border: 2px solid $purple;

  &:hover {
    background-color: $purple;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 300px) {
  .card {
    width: 300px;
  }
}
