@use '@angular/material' as mat;
@use './assets/scss/animations.scss' as animations;
@use './assets/scss/theme.scss' as theme;
@use './assets/scss/generics.scss' as generics;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; letter-spacing: 3px; }

* {
  -webkit-tap-highlight-color: transparent;
}

p { letter-spacing: 2px; margin: 0; font-weight: 300; }

button { letter-spacing: 3px; }

section {
  margin-bottom: 6rem;
}

h1, h2, h3 {
  color: mat.get-theme-color(theme.$massoterapeuta-elisabete-theme, primary);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 3rem 0px;
}

h3 {
  font-size: 1.5rem;
}

